<form>
  <h3>ورود مدیریت</h3>

  <label for="username">نام کاربری</label>
  <input type="text" placeholder="لطفا نام کاربری خود را وارد کنید" id="username" />

  <label for="password">رمز عبور</label>
  <input type="password" placeholder="لطفا رمز عبور خود را وارد کنید" id="password" />

  <button>ورود</button>
</form>
