<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img">
        <div style="width: 180px; height: 50px"></div>
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer nav-icon-hover" id="sidebarCollapse">
        <i class="fas fa-times fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="fas fa-ellipsis-h nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">پروفایل</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link <%= page === 'owner-infos' ? 'active' : '' %>" href="/panel" aria-expanded="false">
            <span>
              <i class="fas fa-file-alt"></i>
            </span>
            <span class="hide-menu">درباره من</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="fas fa-ellipsis-h nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">کمپرها</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link <%= page === 'campers' ? 'active' : '' %>" href="/panel/campers" aria-expanded="false">
            <span>
              <i class="fas fa-caravan"></i>
            </span>
            <span class="hide-menu">مدیریت کمپرها</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="fas fa-ellipsis-h nav-small-cap-icon fs-4"></i>
          <span class="hide-menu"></span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/" aria-expanded="false">
            <span>
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span class="hide-menu">خروج</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
