<style></style>

<div class="col-12 col-md-12 col-lg-10">
  <div class="box box-content">
    <div class="pb-2">
      <h1 class="title title--h1 first-title title__separate">لیست کمپر ها</h1>
    </div>

    <div class="news-grid">
      <% if (campers.length) { %> <% campers.map(camper => { %>
      <article class="news-item box">
        <div class="news-item__image-wrap overlay overlay--45">
          <div class="news-item__date">قیمت<span><%- camper.price %> تومان</span></div>
          <a class="news-item__link" href="single-post.html"></a>
          <img class="cover lazyload" src="<%- camper.mainImage %>" alt="" />
        </div>
        <div class="news-item__caption">
          <h2 class="title title--h4"><%- camper.name %></h2>
          <p class="text-limited"><%- camper.description %></p>
        </div>
      </article>
      <% }) %> <% } else { %>
      <p>هیچ کامپی موجود نیست</p>
      <% } %>
    </div>

    <!-- Footer -->
    <footer class="footer">© 1399 ملیکا خلیلیان</footer>
  </div>
</div>
