<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>دیوار</title>
    <!-- <link rel="shortcut icon" type="image/png" href="/panel/assets/images/logos/divar.svg" /> -->
    <link rel="stylesheet" href="/panel/assets/css/styles.css" />
    <!-- <link rel="stylesheet" href="/panel/dist/css/mapp.min.css" /> -->
    <link rel="stylesheet" href="/panel/dist/css/fa/style.css" />

    <style>
      .profile-card {
          position: relative;
          max-width: 300px;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 10px;
          background-color: #f8f9fa;
      }
      .delete-icon {
          position: absolute;
          top: 10px;
          left: 10px;
          cursor: pointer;
          font-size: 1.5rem;
      }
      .profile-image {
          width: 100px;
          height: 100px;
          border-radius: 10px; /* لبه‌های کمی گرد */
          object-fit: cover;
      }
  </style>
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <%-include("./sidebar.ejs")%>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <%-include("./header.ejs")%>
        <!--  Header End -->
        <div class="container-fluid">
          <!--  Row 1 -->
          <%-body%>
        </div>
      </div>
    </div>



    <script src="/panel/assets/libs/sweetalert2/sweetalert2.js"></script>
    <script src="/panel/pages/camper.js"></script>





    <!-- <script type="text/javascript" src="/panel/dist/js/jquery-3.2.1.min.js"></script> -->

    <!-- <script type="text/javascript" src="/panel/dist/js/mapp.env.js"></script>
    <script type="text/javascript" src="/panel/dist/js/mapp.min.js"></script>

    <script src="/panel/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/panel/assets/js/sidebarmenu.js"></script>
    <script src="/panel/assets/js/app.min.js"></script>
    <script src="/panel/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/panel/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/panel/assets/js/dashboard.js"></script> -->
  </body>
</html>
