<!DOCTYPE html>
<html lang="fa">
  <!-- Mirrored from sajadkhalaj.ir/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Sep 2024 14:24:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>فروش کمپر های مسافرتی</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/website/assets/styles/style-rtl-demo.css" />
    <link rel="stylesheet" type="text/css" href="/website/assets/styles/style-rtl.css" />
    <link rel="stylesheet" type="text/css" href="/website/assets/demo/style-demo.css" />

    <link rel="stylesheet" href="/panel/pages/styles.css" />
  </head>
  <body>
    <style>
      .text-limited {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
    <!-- Preloader -->
    <div class="preloader">
      <div class="preloader__wrap">
        <div class="circle-pulse">
          <div class="circle-pulse__1"></div>
          <div class="circle-pulse__2"></div>
        </div>
        <div class="preloader__progress"><span></span></div>
      </div>
    </div>

    <main class="main">
      <!-- Header Image -->
      <div class="header-image">
        <div class="js-parallax" style="background-image: url('<%- ownerInfo && ownerInfo.mainCover%>')"></div>
      </div>

      <div class="container gutter-top">
        <!-- Header -->
        <%- include("./partials/_header-info.ejs") %>
        <div class="row sticky-parent">
          <!-- Sidebar nav -->
          <%-include("./partials/_side-menu.ejs")%>

          <!-- Content -->
          <%- body %>
        </div>
      </div>
    </main>

    <div class="back-to-top"></div>

    <!-- JavaScripts -->
    <!-- <script src="/website/assets/js/jquery-3.4.1.min.js"></script> -->

    <script src="/assets/libs/jquery/jquery-3.7.1.js"></script>

    <script src="/website/assets/js/plugins.min.js"></script>
    <script src="/website/assets/js/common.js"></script>

    <script src="/assets/libs/fontawesome/fontawesome.js"></script>

    <!-- <script src="/website/assets/demo/plugins-demo.js"></script> -->
  </body>
</html>
