.profile-card {
  position: relative;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f9fa;
}
.profile-cards {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f9fa;
}
.delete-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

/* website */
.gallery-post {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: 12px;
}

.gallery-post__images {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  box-sizing: border-box;
}

.gallery-post__item {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .gallery-post__images {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
.header-post .title--h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-post {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-post__share {
  display: flex;
  align-items: center; 
  text-decoration: none;
  color: #000;
}
.footer-post__share span {
  margin-right: 6px;
}

.footer-post__share i {
  font-size: 24px; 
  margin-right: 10px;
}

.footer-post__share span {
  font-size: 14px;
}

.footer-post__share:hover {
  color: #007bff; 
}


/************************ PANEL / CAMPERS *************************/
.table .camper-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  /* display: inline-block; */
}
.table td,
.table th {
  padding: 8px !important; 
  vertical-align: middle;
}

.table-responsive {
  border-radius: 10px;
  /* overflow: hidden; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.table tbody tr {
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #e9ecef;
}

.table tbody tr:hover {
  background-color: #f1f3f5;
}

.table img {
  border: 2px solid #dee2e6;
  padding: 2px;
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.table img:hover {
  transform: scale(1.05);
}

/* .btn {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.btn-warning {
  background-color: #ffc107;
  color: #212529;
  border-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

.btn:hover {
  opacity: 0.85;
}

.text-center {
  text-align: center;
}

.table tbody tr td[colspan="5"] {
  font-size: 16px;
  color: #6c757d;
} */
/************************ WEBSITE / ABOUT *************************/
.avatar-container {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 84px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #e0e0e0;
}
.avatar {
  display: block;
  border-radius: 15px;
}
.review-item__caption {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  max-width: 100%;
}

@media (max-width: 768px) {
  .review-item__textbox {
    max-width: 100%;
    overflow: hidden;
  }

  .title--h5 {
    word-wrap: break-word;
    white-space: normal;
  }
}

/*********** camper info *************/
#back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background-color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

#back-button:hover {
  background-color: #007bff;
  color: white;
}

#back-button i {
  margin-left: 10px; /* برای فاصله بین آیکون و متن */
  font-size: 18px;
}

#back-button span {
  font-weight: bold;
}